
.DashboardAdminDashboard .cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.DashboardAdminDashboard .cardBox .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.18); 
  align-items: center;
}

.DashboardAdminDashboard .cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--color-theme);
}

.DashboardAdminDashboard .cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.DashboardAdminDashboard .cardBox .card .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
}

.DashboardAdminDashboard .cardBox .card:hover {
  background: var(--color-theme);
}
.DashboardAdminDashboard .cardBox .card:hover .numbers,
.DashboardAdminDashboard .cardBox .card:hover .cardName,
.DashboardAdminDashboard .cardBox .card:hover .iconBx {
  color: var(--white);
}


.DashboardAdminDashboard  .stats {
  display: flex;
  gap: 40px;
  padding: 20px;
}
.DashboardAdminDashboard  .featured {
 flex: 2.15;
 border-radius: 5px;
}
.DashboardAdminDashboard  .featured .featuredChart{
 text-align: center;
}
.DashboardAdminDashboard  .chart {
  flex: 5;
  border-radius: 5px;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}
/* .DashboardAdminDashboard .green :where(.css-dev-only-do-not-override-djtmh8).ant-progress .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
  stroke: #09b4a6;
}
.DashboardAdminDashboard .blue :where(.css-dev-only-do-not-override-djtmh8).ant-progress .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
  stroke: #1d0dd4;
}
.DashboardAdminDashboard .orange :where(.css-dev-only-do-not-override-djtmh8).ant-progress .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
  stroke: #f79623;
} */
.DashboardAdminDashboard  .recentOrders {
  position: relative;
  display: grid;
  min-height: 500px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.18);
  border-radius: 20px;
  grid-template-rows: 1fr 16fr;
  max-height: 500px;
  overflow-y: auto;
}

.DashboardAdminDashboard .pl-x {
  padding-left: 67px;
}

.DashboardAdminDashboard  .featured {
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47); 
  padding: 10px;
}

.DashboardAdminDashboard  .featured .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
}

.DashboardAdminDashboard  .featured .top .title {
  font-size: 15px;
  font-weight: 500;
  margin-top: 0;
}

.DashboardAdminDashboard  .featured .bottom {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 334px;
}

.DashboardAdminDashboard  .featured .bottom .featuredChart {

}

.DashboardAdminDashboard  .featured .bottom .title {
  font-weight: 500;
  color: gray;
  margin: 5px 0;
}

.DashboardAdminDashboard  .featured .bottom .amount {
  font-size: 30px;
  margin: 0;
}

.DashboardAdminDashboard  .featured .bottom .desc {
  font-weight: 300;
  font-size: 12px;
  color: gray;
  text-align: center;
  margin: 0;
}

.DashboardAdminDashboard  .featured .bottom .summary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DashboardAdminDashboard  .featured .bottom .summary .item {
  text-align: center;
}

.DashboardAdminDashboard  .featured .bottom .summary .item .itemTitle {
  font-size: 14px;
  color: gray;
}

.DashboardAdminDashboard  .featured .bottom .summary .item .itemResult {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
}

.DashboardAdminDashboard  .featured .bottom .summary .item .itemResult.green {
  color: #3e98c7;
}

.DashboardAdminDashboard  .featured .bottom .summary .item .itemResult.blue {
  color: #1d0dd4;
}

.DashboardAdminDashboard  .featured .bottom .summary .item .itemResult.orange {
  color:  #f79623;
}

@media (max-width: 991px) {
  .DashboardAdminDashboard .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .DashboardAdminDashboard .recentOrders {
    overflow-x: auto;
  }
}

@media (max-width: 480px) {
  .DashboardAdminDashboard .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
}
