.UpdatePageInstructorPassword {
    padding: 50px;
    background-color: var(--white);
  }
  .UpdatePageInstructorPassword .page-top {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    color: var(--color-theme);
  }
  .UpdatePageInstructorPassword .page-top a {
    font-size: 1.5rem;
    color: var(--oranges);
    font-weight: bold;
  }
  .UpdatePageInstructorPassword h4 {
    color: rgba(255, 255, 255, 0.733);
  }
  .UpdatePageInstructorPassword .page-content {
    border: 1px solid white;
    margin-top: 20px;
  }
  .UpdatePageInstructorPassword .error-text {
    color: var(--oranges);
    display: block;
    padding-left: 19px;
    padding-right: 6px;
  }
  
  .UpdatePageInstructorPassword form {
    padding: 20px;
    min-height: 320px;
    background: var(--white);
    padding: 20px;
  /* box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    width: 50%;
    margin: 0 auto; */
  }
  
  .UpdatePageInstructorPassword form p {
    width: 70%;
  }
  .UpdatePageInstructorPassword .form-left {
    flex: 1;
  }
  .UpdatePageInstructorPassword .form-right {
    flex: 1;
  }
  .UpdatePageInstructorPassword .field {
    margin-bottom: 10px;
  }
  .UpdatePageInstructorPassword label {
    font-weight: bold;
    color: var(--color-theme);
  }
  .UpdatePageInstructorPassword .studPpties {
    color: var(--color-theme);
  }
  .UpdatePageInstructorPassword .field.stud-lab {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
  }
  .UpdatePageInstructorPassword input,
  .UpdatePageInstructorPassword select {
    margin-top: 10px;
    width: 100%;
    margin: 5px 0;
    outline: none;
    height: 30px;
  }
  
  .UpdatePageInstructorPassword input.desc {
    height: 50px;
  }
  .UpdatePageInstructorPassword input[type="submit"],
  .UpdatePageInstructorPassword button[type="submit"] {
    margin: 5px 0;
    width: 100%;
    padding: 8px 0;
    background-color: var(--color-theme);
    outline: none;
    border: 0px;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  .UpdatePageInstructorPassword .validate_form {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .UpdatePageInstructorPassword .submit_btn.active {
    background-color: var(--color-theme);
    color: white;
    opacity: 1;
    cursor: pointer;
  }
  .UpdatePageInstructorPassword .submit_btn {
    background-color: red;
    color: white;
    opacity: 0.5;
    cursor: not-allowed;
  }
  .UpdatePageInstructorPassword .relative {
    position: relative;
  }
  .UpdatePageInstructorPassword .absolute {
    position: absolute;
    right: 10px;
    top: 13px;
    cursor: pointer;
  }
  .UpdatePageInstructorPassword .infos-pwd {
    font-size: 0.8rem;
    color: gray;
    font-style: italic;
  }
  .UpdatePageInstructorPassword .form-password {
   margin-top: 10px;
   min-height: 280px!important;
  }
  
  @media (max-width: 991px) {
    .UpdatePageInstructorPassword form {
      flex-direction: column;
    }
    .UpdatePageInstructorPassword .page-top {
      flex-direction: column;
      align-items: start;
    }
    .UpdatePageCourse .page-top {
      flex-direction: column;
      align-items: start !important;
    }
  }
  