.RegisterInstructor {
  padding: 50px;
  background-color: #a3c7cd;
}
.RegisterInstructor .page-top {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  align-items: center;
  color: var(--color-theme);
}
.RegisterInstructor .page-top a {
  font-size: 1.5rem;
  color: var(--oranges);
  font-weight: bold;
}
.RegisterInstructor h4 {
  color: rgba(255, 255, 255, 0.733);
}
.RegisterInstructor .page-content {
  border: 1px solid white;
  margin-top: 20px;
}
.RegisterInstructor .error-text {
  color: var(--oranges);
  display: block;
}
.RegisterInstructor .suggest {
  text-align: center;
  width: 100%;
}
.RegisterInstructor .suggest a {
  color: var(--color-theme);
}

.RegisterInstructor form {
  padding: 20px;
  min-height: 250px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  width: 50%;
  margin: 0 auto;
}

.RegisterInstructor form p {
  width: 70%;
}
.RegisterInstructor .form-left {
  flex: 1;
}
.RegisterInstructor .form-right {
  flex: 1;
}
.RegisterInstructor .field {
  margin-bottom: 10px;
}
.RegisterInstructor label {
  font-weight: bold;
  color: var(--color-theme);
}
.RegisterInstructor .studPpties {
  color: var(--color-theme);
}
.RegisterInstructor .field.stud-lab {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}
.RegisterInstructor input,
.RegisterInstructor select {
  margin-top: 10px;
  width: 100%;
  margin: 5px 0;
  outline: none;
  height: 30px;
}

.RegisterInstructor input.desc {
  height: 50px;
}
.RegisterInstructor input[type="submit"],
.RegisterInstructor button[type="submit"] {
  margin: 5px 0;
  width: 100%;
  padding: 8px 0;
  background-color: var(--color-theme);
  outline: none;
  border: 0px;
  font-weight: bold;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.RegisterInstructor .validate_form {
  display: flex;
  gap: 5px;
  align-items: center;
}
.RegisterInstructor .submit_btn.active {
  background-color: var(--color-theme);
  color: white;
  opacity: 1;
  cursor: pointer;
}
.RegisterInstructor .submit_btn {
  background-color: red;
  color: white;
  opacity: 0.5;
  cursor: not-allowed;
}

.RegisterInstructor .relative {
  position: relative;
}
.RegisterInstructor .absolute {
  position: absolute;
  right: 10px;
  top: 13px;
  cursor: pointer;
}
.RegisterInstructor .infos-pwd {
  font-size: 0.8rem;
  color: gray;
  font-style: italic;
}

@media (max-width: 991px) {
  .RegisterInstructor form {
    flex-direction: column;
    width: 100%;
  }
  .RegisterInstructor .page-top {
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
  }
  .UpdatePageCourse .page-top {
    flex-direction: column;
    align-items: start !important;
  }
}
