.ShowBlocReviews {
  
}

.ShowBlocReviews .box-container .box  {
  margin-bottom: 2rem;
}
.ShowBlocReviews .box-container .box .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.ShowBlocReviews .box-container .box .user img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.ShowBlocReviews .box-container .box .user h3 {
  color: var(--black);
  margin-bottom: 0.2rem;
  margin-top: 0;
  margin-bottom: 0;
}

.ShowBlocReviews .box-container .box .user span {
  color: var(--light-color);
}
.ShowBlocReviews .box-container .box .comment-box {
    border-radius: .5rem;
    background-color: var(--light-bg);
    padding: 1rem 1.5rem;
    white-space: pre-line;
    margin: .5rem 0;
    color: var(--black);
    line-height: 1.5;
    position: relative;
    z-index: 0;
    margin-bottom: 1.5rem;

  }
.ShowBlocReviews .box-container .box  .stars {
        color: var(--orange);
  }
.ShowBlocReviews .box-container .box  .name-stars {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 5px;
  }

  .ShowBlocReviews .box-container .box .comment-box::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: 0.5rem;
    background-color: var(--light-bg);
    height: 1.2rem;
    width: 2rem;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  .ShowBlocReviews  .inline-delete-btn{
        padding: 10px;
        background-color: var(--red);
        color: var(--white);
        border: none;
        border-radius: .5rem;
         font-size: 1.2rem;
         cursor: pointer;
         text-transform: capitalize;
         padding: 0.7rem 1rem;
         text-align: center;
  }
 
  
