.AddStudentsCourse {
    padding: 50px;
    background-color: var(--white);
  }
  .AddStudentsCourse .page-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-theme);
  }
  .AddStudentsCourse .page-top a {
    font-size: 1.5rem;
    color: var(--oranges);
    font-weight: bold;
  }
  .AddStudentsCourse h4 {
    color: rgba(255, 255, 255, 0.733);
  }
  .AddStudentsCourse .page-content {
    border: 5px solid white;
    margin-top: 20px;
  }
  .AddStudentsCourse li {
    font-weight: bold;
  }
  .AddStudentsCourse li button {
    border: none;
    margin: 10px;
    padding: 5px;
    width: 56px;
    border-radius: 5px;
    cursor: pointer;
  }
  .AddStudentsCourse li button.Remove {
    color: white;
    background-color: var(--color-theme);
  }


  /**/
  .AddStudentsCourse .CourseForm {
    padding: 20px;
    min-height: 200px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    grid-template-rows: 1fr 16fr;
  }
  .AddStudentsCourse .CourseForm form {
    display: flex;
    gap: 40px;
    box-sizing: border-box;
  }
  .AddStudentsCourse .CourseForm form p {
    width: 70%;
  }
  .AddStudentsCourse .CourseForm .form-left {
    flex: 1;
  }
  .AddStudentsCourse .CourseForm .form-right {
    flex: 1;
  }
  .AddStudentsCourse .CourseForm .field {
    margin-bottom: 10px;
  }
  .AddStudentsCourse .CourseForm label {
    font-weight: bold;
    color: var(--color-theme);
  }
  .AddStudentsCourse .CourseForm .studPpties {
    color: var(--color-theme);
  }
  .AddStudentsCourse .CourseForm .field.stud-lab {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
  }
  .AddStudentsCourse .CourseForm input {
    margin-top: 10px;
  }
  .AddStudentsCourse .CourseForm input[type="text"],
  .AddStudentsCourse .CourseForm input[type="number"],
  .AddStudentsCourse .CourseForm select {
    /* width: 70%; */
    width: 100%;
    margin: 5px 0;
    outline: none;
    height: 30px;
  }
  .AddStudentsCourse .CourseForm input.desc {
    height: 50px;
  }
  .AddStudentsCourse .CourseForm input[type="submit"],
  .AddStudentsCourse .CourseForm button[type="submit"] {
    margin: 5px 0;
  
    width: 100%;
    padding: 8px 0;
    background-color: var(--color-theme);
    outline: none;
    border: 0px;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
  }
  .AddStudentsCourse .CourseForm .validate_form {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .AddStudentsCourse .CourseForm .submit_btn.active {
    background-color: var(--color-theme);
    color: white;
    opacity: 1;
    cursor: pointer;
  }
  .AddStudentsCourse .CourseForm .submit_btn {
    background-color: red;
    color: white;
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  @media (max-width: 991px) {
    .AddStudentsCourse .CourseForm form {
      flex-direction: column;
    }
    .AddStudentsCourse .CreatePageCourse .page-top {
      flex-direction: column;
      align-items: start;
    }
    .AddStudentsCourse .UpdatePageCourse .page-top {
      flex-direction: column;
      align-items: start !important;
    }
  }
  
  